{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table table-striped" style="width:100%">
        <tr>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        {% for stock in stocks %}
        <tr>
            <td>{{stock.stock_symbol}}</td>
            <td>{{stock.stock_count}}</td>
            <td>{{stock.stock_price}}</td>
            <td>{{stock.total}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>CASH</td>
            <td></td>
            <td></td>
            <td>{{cash}}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>{{total}}</td>
        </tr>
    </table>
    </div>
{% endblock %}
